<div class="bg-dark border-right p-3" id="sidebar">
  <h3 class="text-light">
    Gifs-App
  </h3>

  <hr class="text-light">

  <div class="list-group list-reset">
    <a
      href="#"
      (click)="buscar(item)"
      class="list-group-item list-group-item-action"
      *ngFor="let item of historial"
    >
      {{item | titlecase}}
    </a>
  </div>
</div>
